# AMP GAME SERVER PANEL
AMP_URL=
AMP_USER=
AMP_PASSWORD=

# Django Settings
DJANGO_SECRET_KEY=

# Discovery Approvers
DISCOVERY_APPROVERS=

# Discord OAuth2
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=

# Discord Bot Token (WardenBot)
DISCORD_BOT_TOKEN=

# Warden Database (MySQL)
WARDEN_DB_NAME=
WARDEN_DB_USER=
WARDEN_DB_PASSWORD=
WARDEN_DB_HOST=
WARDEN_DB_PORT=
WARDEN_DB_SOCKET=

# IGDB (Internet Game Database) API - Get credentials from https://dev.twitch.tv/console/apps
IGDB_CLIENT_ID=
IGDB_CLIENT_SECRET=
WARDEN_BOT_API_URL=
DISCORD_BOT_API_TOKEN=

# Stripe API Keys
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
BOT_OWNER_ID=

# Django Web App Database (django_webapp)
DJANGO_DB_NAME=
DJANGO_DB_USER=
DJANGO_DB_PASSWORD=
DJANGO_DB_HOST=
DJANGO_DB_PORT=

# YouTube API Credentials
YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=
YOUTUBE_API_KEY=
YOUTUBE_REDIRECT_URI=

# ENCRYPTION_KEY
ENCRYPTION_KEY=

# Twitch API Credentials (for Streaming Integration)
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_REDIRECT_URI=
